In [1]:
import pandas as pd
import pymysql

from settings import *

print(db_name)

ModuleNotFoundError: No module named 'settings'

In [2]:
import pandas as pd
import pymysql

from settings import *

print(db_name)

lagou

In [4]:
import pandas as pd
import pymysql

from settings import *

conn = pymysql.connect(host=db_host,
                       user=db_user,
                       password=db_passwd,
                       db=db_name,
                       port=int(db_port)
                      )

sql = 'select * from job_info'
df = pd.read_sql(sql, con=conn)
print(df.head())

    job_id  company_id  company_name             position    salary  \
0   175644       28722      我趣科技研发招聘            高级后台开发工程师  13k-20k
1   205658       32424     图丰信息-成都招聘  Web前端开发(Javascript)  10k-18k
2   254411        5436      公平价研发部招聘               Python   7k-14k
3   748187       74507  成都钱方成都研发中心招聘          Python开发工程师  10k-18k
4  1548255       55562     西游网游戏运维招聘     运维&python开发工程...   8k-15k

           position_label job_request city work_experience education  \
0  即时通讯,MySQL,后端,后台,redis        None  成都          经验3-5年     本科及以上
1         前端,web,web前端,js        None  成都         经验5-10年     本科及以上
2                  python        None  成都            经验不限     本科及以上
3                  python        None  成都          经验3-5年     大专及以上
4                   游戏,运维        None  成都          经验1-3年     本科及以上

  full_or_part              job_advantage  \
0           全职            \n\n掌游宝“职”等你来\n
1           全职           \n\n待遇丰厚，潜力巨大。\n
2           全职  \n\n晨兴A轮投资 2013年创业邦100强\n
3           全职  \n\n绩效奖金 六险一金 午餐补助 带薪年假\n
4           全职   \n\n月流水过亿产品，近2千台机器运维环境\n

                                     job_description  \
0  \n职位描述：\n\n工作职责：\n1. 后台系统架构，数据库设计，服务器逻辑开发；2. 网...
1  \n职位描述：\n\n此岗位面向全国，要求应征者是中高级技术水平，除可以在成都office办...
2  \n职位描述：\n\n职位描述：1、参与需求分析，产品设计，功能开发；2、负责系统平台的日常...
3  \n职位描述：\n\n岗位职责：\n1. 负责手机应用API等产品及业务的功能模块设计与实现...
4  \n职位描述：\n\n岗位职责：\n1、按运维部门的整体需求的规划，参与运维自动化平台的建设...

                          work_add  \
0         成都-高新区-中和-天府三街腾讯大厦B座1403
1          成都-金牛区-沙湾-一环路北一段99号环球广场
2  成都-武侯区-华阳-天府大道中段1388号美年广场D座391号
3      成都-双流县-华阳-天府大道南段2039号天府菁蓉大厦
4            成都-高新区-天府软件园C区10栋3-4楼

                                       review_anchor       day
0  https://www.lagou.com/gongsi/interviewExperien...  20180807
1  https://www.lagou.com/gongsi/interviewExperien...  20180807
2  https://www.lagou.com/gongsi/interviewExperien...  20180807
3  https://www.lagou.com/gongsi/interviewExperien...  20180807
4  https://www.lagou.com/gongsi/interviewExperien...  20180807

In [5]:
df.columns()

TypeError: 'Index' object is not callable

In [6]:
df.city()

TypeError: 'Series' object is not callable

In [7]:
df.city

0      成都
1      成都
2      成都
3      成都
4      成都
5      成都
6      成都
7      成都
8      成都
9      成都
10     成都
11     成都
12     成都
13     成都
14     成都
15     成都
16     成都
17     成都
18     成都
19     成都
20     成都
21     成都
22     成都
23     成都
24     成都
25     成都
26     成都
27     成都
28     成都
29     成都
      ...
322    成都
323    成都
324    成都
325    成都
326    成都
327    成都
328    成都
329    成都
330    成都
331    成都
332    成都
333    成都
334    成都
335    成都
336    成都
337    成都
338    成都
339    成都
340    成都
341    成都
342    成都
343    成都
344    成都
345    成都
346    成都
347    成都
348    成都
349    成都
350    成都
351    成都
Name: city, Length: 352, dtype: object

In [8]:
df.salary

0      13k-20k
1      10k-18k
2       7k-14k
3      10k-18k
4       8k-15k
5      10k-15k
6      10k-20k
7       7k-14k
8      11k-22k
9      15k-25k
10     12k-20k
11      8k-14k
12     10k-20k
13     10k-20k
14      6k-10k
15     12k-18k
16      8k-15k
17     10k-15k
18       5k-8k
19     12k-18k
20     10k-17k
21      9k-12k
22     10k-20k
23     15k-25k
24     10k-20k
25     10k-20k
26     12k-24k
27     15k-30k
28     15k-30k
29     12k-24k
         ...
322    10k-15k
323    10k-18k
324    10k-15k
325    12k-18k
326    15k-25k
327     7k-12k
328    12k-20k
329    10k-15k
330    10k-20k
331    15k-30k
332    10k-18k
333    30k-60k
334    20k-40k
335    10k-20k
336    10k-20k
337    12k-18k
338     8k-11k
339    25k-50k
340    13k-26k
341    10k-20k
342      5k-8k
343    26k-52k
344      2k-3k
345    10k-13k
346    25k-40k
347    15k-20k
348      4k-8k
349     8k-15k
350    10k-15k
351    10k-16k
Name: salary, Length: 352, dtype: object

In [9]:
len(df)

352

In [10]:
df.salary.head(5)

0    13k-20k
1    10k-18k
2     7k-14k
3    10k-18k
4     8k-15k
Name: salary, dtype: object

In [13]:
df.education.count()

352

In [14]:
df.education.unique()

array(['本科及以上 ', '大专及以上 ', '学历不限 ', '硕士及以上 '], dtype=object)

In [16]:
df.education.value_counts()

本科及以上     261
大专及以上      58
学历不限       25
硕士及以上       8
Name: education, dtype: int64

In [17]:
df.columns

Index(['job_id', 'company_id', 'company_name', 'position', 'salary',
       'position_label', 'job_request', 'city', 'work_experience', 'education',
       'full_or_part', 'job_advantage', 'job_description', 'work_add',
       'review_anchor', 'day'],
      dtype='object')

In [18]:
df.salary.value_counts()

10k-20k     51
10k-15k     30
15k-25k     27
15k-30k     23
8k-15k      22
15k-20k     13
10k-18k     13
12k-20k     10
20k-40k     10
8k-12k       9
8k-16k       9
12k-18k      7
5k-10k       6
7k-12k       5
7k-14k       5
12k-24k      5
4k-8k        5
20k-35k      4
6k-10k       4
4k-6k        4
6k-12k       4
10K-20K      4
2k-4k        3
25k-50k      3
13k-20k      3
20k-25k      3
12k-15k      3
15k-18k      3
10k-17k      3
13k-16k      2
            ..
30k-60k      1
12k-16k      1
4k-5k        1
15k-29k      1
9k-15k       1
5k-7k        1
9k-12k       1
5K-8K        1
3k-6k        1
18k-30k      1
10k-13k      1
10K-15K      1
13k-22k      1
2K-3K        1
18k-35k      1
26k-52k      1
10k-19k      1
13k-25k      1
10k-14k      1
20k-30k      1
30k-50k      1
18k-28k      1
8k-11k       1
11k-22k      1
10k-16k      1
13k-26k      1
15K-20K      1
3k-5k        1
18k-36k      1
7k-10k       1
Name: salary, Length: 76, dtype: int64